.navbar.navbar-default{role:"navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{:type =>"button",
                            :"data-toggle"=>"collapse",
                            :"data-target"=>".navbar-ex1-collapse"}
        %span.sr-only "Toggle navigation"
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "TigerLaundry", root_url, {class:"navbar-brand"}
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        -# active class is only applied to the current controller's link
        %li{class: ("active" if params[:controller] == 'facilities')}
          = link_to "Facilities", facilities_url
        %li{class: ("active" if params[:controller] == 'users')}
          = link_to "Users", users_url
      %ul.nav.navbar-nav.pull-right
        - if user_signed_in?
          %li= link_to current_user.username, user_path(current_user)
          %li
            %a{href: destroy_user_session_path}
              Logout
              .glyphicon.glyphicon-log-out
        - else
          %li
            %a{href: new_user_session_path}
              %span.glyphicon.glyphicon-log-in
              Login
