/*
*= require_self
*= require slider.css
*/

@import "variables";

.slider {
  width: 100% !important;
  max-width: 600px;
}



/*
 * Hack to control what links work collapsed / uncollapsed
 */
@media (min-width: 768px) {
  .navbar-collapse-only {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .navbar-collapse-hidden {
    display: none !important;
  }
}

// Bootstrap Customizations
$link-color: $RITorange;

@font-face {
font-family: 'Open Sans';
src: url('http://fonts.googleapis.com/css?family=Open+Sans');
}

$font-family-sans-serif: Open Sans, Helvetica, Arial, sans-serif;

@import "twitter/bootstrap";
@import "facilities.css.scss";

// Good things
a:hover {
  text-decoration: none;
}

svg { max-height: 100%; }
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}