/*
*= require_self
*= require twitter/bootstrap
*= require facilities.css.scss
*= require slider.css
*/

/*
 * Colors as described in the RIT identity manual.
 * http://www.rit.edu/upub/pdfs/identity_manual.pdf
 */
$RITbrown  : #513127;
$RITorange : #F36E21;
$RITblack  : #000000;
$RITgray   : #C7C3BD;
$RITwhite  : #FFFFFF;

.slider {
  width: 100% !important;
  max-width: 600px;
}
