/*
*= require_self
*= require slider.css
*/

@import "variables";

// ---- Bootstrap Customizations ----
// These must be performed before bootstrap is imported
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
$link-color: $RITorange;
$font-family-sans-serif: Open Sans, Helvetica, Arial, sans-serif;
@import "twitter/bootstrap";

// ---- Slider Customizations ----
.slider {
  width: 100% !important;
  max-width: 600px;
}

// Hack to control what links work collapsed / uncollapsed
@media (min-width: 768px) {
  .navbar-collapse-only {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .navbar-collapse-hidden {
    display: none !important;
  }
}

// ---- General Page Tweaks ----
a:hover {
  text-decoration: none;
}

svg {
  max-height: 100%;
}

body, html {
  // image found at http://subtlepatterns.com/sandpaper/
  background-image: asset-url("sandpaper.png");
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-stacked {
  margin-bottom: 10px;
}

// represents some information isolated from the background
.island {
  background: white;
  border-radius: $borderRadius;
  border: none;
  box-shadow: $boxShadow;
}

// ---- Other imports ----
@import "facilities.css.scss";
