// Place all the styles related to the Facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

$washersLineColor: steelblue;
$washersAreaColor: rgba(41,123,255, 0.4);
$driersLineColor:  orange;
$driersAreaColor:  rgba(255, 173, 41, 0.4);
$averageLineColor: purple;
$averageAreaColor: $RITorange;

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.line-washers {
    stroke: $washersLineColor;
}

.line-driers {
    stroke: $driersLineColor;
}

.line-average {
    stroke: $averageLineColor;
}

.area-washers {
    fill: $washersAreaColor;
}

.area-driers {
    fill: $driersAreaColor;
}

.area-average {
    fill: $averageAreaColor;
}

.linksGraph {
  position: relative;
  .links {
    position: absolute;
    z-index: 2; 
  }
  .graph {
    position: absolute;
    z-index: 1;
  }
}



// .svg-container {
// display: inline-block;
// position: relative;
// width: 100%;
// padding-bottom: 100%;
// vertical-align: middle;
// overflow: hidden;
// }

// .svg-content {
// display: inline-block;
// position: absolute;
// top: 0;
// left: 0;
// }

