/*
 * Colors as described in the RIT identity manual.
 * http://www.rit.edu/upub/pdfs/identity_manual.pdf
 */
$RITbrown  : #513127;
$RITorange : #F36E21;
$RITblack  : #000000;
$RITgray   : #C7C3BD;
$RITwhite  : #FFFFFF;

$borderRadius: 3px;
$boxShadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
